---
const personalImageAlt = "Jairo Muñoz Miranda";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jairo Muñoz Miranda, <strong
        >egresado de la carrera de Ingeniería Informática y Sistemas</strong
      > en la Universidad Nacional Micaela Bastidas de Apurímac. Cuento con experiencia
      en diversas áreas de desarrollo, tecnologías y entornos.
    </p>

    <p>
      Especializado en el desarrollo web utilizando lenguajes como PHP, Java,
      JavaScript y C#. Tengo experiencia en frameworks backend como Laravel y
      Nest.js, así como en frontend con Vue.js, y manejo bases de datos como
      MySQL, SQL Server, MariaDB y MongoDB. Además, estoy familiarizado con
      prácticas DevOps, utilizando Docker, Git y AWS, y desarrollo aplicaciones
      móviles híbridas con Ionic Framework.
    </p>

    <p>
      También he trabajado con WordPress y Linux, lo que me permite abordar
      proyectos con una perspectiva versátil y enfocada en la calidad del código
      y la satisfacción del cliente.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/photo_jmm.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
