---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Abril 2024 - Actualidad",
    title: "Programador Jr.",
    company: "Freelance",
    description: "Programador junior freelance con experiencia en PHP, Java, JavaScript, TypeScript y C#. Manejo Laravel, Nest.js, Vue.js, y bases de datos como MySQL y MongoDB. También tengo habilidades en DevOps con Docker, Git, AWS, y desarrollo aplicaciones móviles con Ionic Framework. Además, utilizo WordPress y Linux en proyectos variados, asegurando siempre calidad y eficiencia.",
  },
    {
    date: "Septiembre 2023",
    title: "Analista Informático",
    company: "Universidad Nacional Micaela Bastidas de Apurímac",
    description: "Mantenimiento del Sistema de Seguimiento al Graduado - SISGRA UNAMBA. - Se actualizó la versión de Laravel a una versión más actual. - Se añadió nuevo s requerimientos funcionales al sistema. - Se realizó pruebas y testing al sistema. - Se realizó el despliegue del sistema en un VPS en Linux Ubuntu.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
